<%- include("includes/head") %>

<form method="POST" action="/user/edit/<%= response._id %>">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" value="<%= response.email %>" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="senha" value="<%= response.senha %>" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary">Atualizar</button>
</form>

<%- include("includes/footer") %>